header {
  position: relative;
  background-color: var(--cor-header-background);
  color: var(--cor-font);
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
  border-bottom: 2px solid var(--cor-header-borda);
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.empresa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 10px;
}

.empresa span {
  font-size: 25px;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.empresa img {
  width: 70px;
}

.cabecalho-links ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 10px 20px;
  align-items: center;
}

.cabecalho-links ul li {
  margin: 5px 20px;
}

.cabecalho-links ul li a {
  display: inline-block;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5 ease-in-out;
}

@media (max-width: 1032px) {
  header {
    display: flex;
    justify-content: center;
  }
  .cabecalho-links ul {
    justify-content: space-around;
  }
}

.cabecalho-links ul li a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--cor-font);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.cabecalho-links ul li a:hover::after {
  width: 100%;
}

.cabecalho-links ul li a:hover {
  color: var(--cor-font);
  font-weight: 400;
  transition: opacity 0.3 ease, font-weight 0.3 ease;
}

.cabecalho-links ul li:last-child a {
  font-size: 14px;
  background-color: var(--cor-header-link-portal);
  padding: 7px;
  border: 2px solid var(--cor-header-borda-link-portal);
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.cabecalho-links ul li:last-child a::after {
  display: none;
}
