<app-header></app-header>
<main class="app-home">
  <section class="banner">
    <div>
      <h1>{{ title }}</h1>
      <a href="#"> {{ link }}</a>
    </div>
  </section>

  <h2>Serviços</h2>
  <hr />
  <section class="servicos">
    <!-- Servico 1-->
    <div class="service">
      <h3>Instalação</h3>
      <p>
        Realizamos a instalação completa de sistemas de energia solar, desde o
        planejamento até a execução. Sempre adaptando às necessidades do
        cliente, otimizando a captação de energia e eficiência do sitema.
      </p>
      <a>Entre em Contato</a>
    </div>
    <!-- Servico 2-->
    <div class="service">
      <h3>Manutenção e Monitoramento</h3>
      <p>
        Oferecemos serviços de manutenção preventiva e corretiva para garantir o
        desempenho máximo dos sistemas fotovoltaicos. Também monitoramos a
        produção de energia remotamentem para detectar falhas e maximizar a
        geração de energia.
      </p>
      <a href="">Entre em Contato</a>
    </div>
    <!-- Servico 3-->
    <div class="service">
      <h3>Consultoria</h3>
      <p>
        Fazemos uma análise financeira para calcular o retorno do investimo para
        os mais diversos usuários finais.
      </p>
      <a href="">Entre em Contato</a>
    </div>
  </section>
</main>
<app-footer></app-footer>
