<main>
  <!-- É PARA SER UM BANNER, TENHO Q PESQUISAR COMO COLOCAR-->
  <section class="banner">
    <div>
      <h1></h1>
      <a href=""></a>
    </div>
  </section>

  <section class="servicos">
    <h2>Serviços</h2>
    <!-- Servico 1-->
    <div class="service">
      <h3>Teste 01</h3>
      <p></p>
      <a href=""></a>
    </div>
    <!-- Servico 2-->
    <div class="service">
      <h3>Teste 02</h3>
      <p></p>
      <a href=""></a>
    </div>
    <!-- Servico 3-->
    <div class="service">
      <h3>Teste 03</h3>
      <p></p>
      <a href=""></a>
    </div>
  </section>
</main>
