@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* CORES DA HEADER*/
  --cor-header-fundo: #ffd900;
  --cor-header-borda: #f5d000;
  --cor-header-link-portal: #ffffff;
  --cor-header-borda-link-portal: #ebebeb;
  /* CORES DE FONTES*/
  --cor-font: #1d1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
  color: var(--cor-font);
}
